%a.ub-button-2{:href => '#'} Click me!

%a.ub-button{:href => '#'} Click me!

%a.ub-price-button{:href => '#'}
  %span.ub-price-button__price 
    &euro; 29,99
  %span.ub-price-button__buy
    Buy this item

