.bg {
  background: #eeeeee;
  padding: 50px;
  text-align: center;
}

.icons, .atom, .sofa, .drop, .calendar, .key, .sensor, .sun, .piggy, .fan {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.icons {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
.atom {
  -webkit-animation: spin-reverse 8s infinite linear;
          animation: spin-reverse 8s infinite linear;
}

@-webkit-keyframes spin-reverse {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.sofa, .drop, .calendar, .key, .sensor, .sun, .piggy, .fan {
  -webkit-animation: spin-micro 8s infinite linear;
          animation: spin-micro 8s infinite linear;
}

@-webkit-keyframes spin-micro {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-micro {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.drop {
	width: 10% !important;
}