/* Code to style humidty circle with moving water accordingly to the percentage */
.wrapper {
	display: -ms-flexbox;
	display: flex;
	-o-box-align: center;
	align-items: center;
	-o-box-pack: center;
	justify-content: center;
	-o-box-orient: vertical;
	flex-direction: column;
	height: 100%;
	margin-left: 800%;
	margin-top: -108%;
}
.green {
	margin-top: 15px;
}
.green .progress {
	position: relative;
	border-radius: 50%;
}
.green .progress {
	width: 142px;
	height: 142px;
}
.green .progress {
	border: 5px solid #4198f4;
}
.green .progress {
	box-shadow: 0 0 20px #42cbf4;
}
.green .progress {
	transition: all 1s ease;
}
.green .progress .inner{
	position: absolute;
	overflow: hidden;
	z-index: 2;
	border-radius: 50%;
}
.green .progress .inner {
	width: 132px;
	height: 132px;
}
.green .progress .inner {
	border: 5px solid #1a1a1a;
}
.green .progress .inner{
	transition: all 1s ease;
}
.green .progress .inner .water {
	position: absolute;
	z-index: 1;
	width: 200%;
	height: 200%;
	left: -50%;
	border-radius: 40%;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: spin;
	animation-name: spin;
}
.green .progress .inner .water {
	top: 25%;
}
.green .progress .inner .water {
	background: #41d6f4;
	opacity: 0.5;
}
.green .progress .inner .water {
	transition: all 1s ease;
}
.green .progress .inner .water {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}
.green .progress .inner .water {
	box-shadow: 0 0 20px #4198f4;
}
.green .progress .inner .glare {
	position: absolute;
	top: -120%;
	left: -120%;
	z-index: 5;
	width: 200%;
	height: 200%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 50%;
}
.green .progress .inner .glare {
	background-color: rgba(255,255,255,0.15);
}
.green .progress .inner .glare {
	transition: all 1s ease;
}
.green .progress .inner .percent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-align: center;
}
.green .progress .inner .percent {
	margin-top:-38%;
	line-height: 215px;
	font-size: 42px;
}
.green .progress .inner .percent {
	color: #42cbf4;
}
.green .progress .inner .percent {
	text-shadow: 0 0 10px #4286f4;
}
.green .progress .inner .percent {
	transition: all 1s ease;
}



@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
