.wrap_h {
  margin: 3em auto;
  
  padding: 3em 0 0;
  padding-bottom:30px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

.barra {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  vertical-align: bottom;
}
.barra.barra1 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}
.barra.barra2 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}
.barra.barra3 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}
.barra.barra4 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}
.barra.barra5 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}
.barra.barra6 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}
.barra.barra7 {
  background: #0096b8;
  box-shadow: 1px -1px #01667c, 2px -2px #01667c, 3px -3px #01667c, 4px -4px #01667c, 5px -5px #01667c, 6px -6px #01667c, 7px -7px #01667c, 8px -8px #01667c, 9px -9px #01667c, 10px -10px #01667c;
  height: 0px;
  width: 30px;
}

.pointer_height {
  position: absolute;
  width: 100px;
  height: 25px;
  background: grey;
  border-radius: 5px;
  border: 1px solid grey;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 10px;
  text-align: center;
  line-height: 25px;

}

.pointer_height:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid grey;
  bottom: -10px;
  left: 10px;
}
